html {
    font-family: 'Open Sans', sans-serif;
}

#headerDiv{ 
    padding: 15px;
    background-color: rgb(123, 193, 236);
}

header {
    text-align: center;
    font-size: 16pt;
    color: white;
    cursor: default;
}

#container {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

#inputDiv {
    display: flex;
}

#movieInput {
    width: 80%;
    padding: 15px;
    border: solid black 0.5px;
    border-radius: 7.5px 0 0 7.5px;
}

#movieList {
    list-style-type: none;
    padding: 0;
}

.movie {
    margin-bottom: 10px;
    padding: 10px;
    border: solid black 0.5px;
    border-radius: 10px;
}

.movie:hover {
    background: rgb(123, 193, 236);
    color: black;
    cursor: pointer;
}

#alert {
    background-color: rgb(255, 219, 1);
    margin-top: 10px;
    padding: 10px;
    border: solid black 0.5px;
    border-radius: 10px;
}

#checked:before {
    content: '✓ ';
}

#deleteBtn {
    float: right;
    cursor: pointer;
    padding-right: 5px;
}


#deleteBtn:hover {
    cursor: pointer;
    color: red;
}

#clearBtn {
    border-radius: 0 7.5px 7.5px 0;
}

.inputBtns {
    float: right;
    width: 10%;
    border: solid black 0.5px;
    text-align: center;
    background-color: rgb(123, 193, 236);
    color: white;
}

.inputBtns:hover {
    background: rgb(50, 165, 255);
    cursor: pointer;
}