html {
    font-family: 'Open Sans', sans-serif;
}

header {
    font-size: 16pt;
    color: white;
    cursor: default;
    padding: 15px;
    background-color: rgb(123, 193, 236);
    font-weight: bold;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    transition: 350ms;
}

body {
    margin: 0;
    min-height: 100%;
}

#container {
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
}

#inputDiv {
    display: flex;
}

#movieInput {
    width: 80%;
    padding: 15px;
    border: 0 solid silver;
    border-width: 1px 0.5px 1px 1px;
    border-radius: 7.5px 0 0 7.5px;
}

#movieList {
    list-style-type: none;
    padding: 0;
    border: 0 solid silver;
    border-width: 1px 1px 1px 1px;
    border-radius: 7.5px 7.5px 7.5px 7.5px;
}

#movieList:empty {
    border: none;
}

.movie {
    border: solid silver;
    border-width: 0 0 1px 0;
    padding:.5em;
    cursor: pointer;
    transition: 350ms;
}

.movie:first-of-type {
    border-width: 0 0 1px 0;
    border-radius: 7.5px 0 0 0;
}

.movie:last-of-type {
    border-width: 0;
    border-radius: 0 0 0 7.5px;
}

.movie:only-child {
    border-radius: 7.5px 0 0 7.5px;
}

#alert {
    background-color: rgb(255, 255, 130);
    margin-top: 10px;
    padding: 10px;
    border: solid silver 1px;
    border-radius: 7.5px;
    transition: 350ms;
    animation: fade 0.4s ease;
}

#checked {
    border-left: 10px solid rgb(123, 193, 236);
}

#deleteBtn {
    float: right;
    cursor: pointer;
    padding-right: 5px;
    transition: 350ms;
}


#deleteBtn:hover {
    cursor: pointer;
    color: red;
    transform: scale(1.25);
}

#clearBtn {
    border-radius: 0 7.5px 7.5px 0;
    border-width: 1px 1px 1px 0.5px;
}

#addBtn {
    border-width: 1px 0.5px 1px 0.5px;
}

.inputBtns {
    float: right;
    width: 10%;
    border: solid silver 0.5px;
    text-align: center;
    background: none;
    transition: 350ms;
}

.inputBtns:hover {
    background: rgb(123, 193, 236);
    cursor: pointer;
    color: white;
    transform: scale(1.1);
}

footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: 10pt;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}